<div class='row'>
  <div class='col-sm-1'>{{ sensor.measuringComponent.name }}</div>
  <div class='col-sm-1' *ngIf="!currentAnalogData">*</div>
  <div class='col-sm-1' *ngIf="currentAnalogData">{{ currentAnalogData.value }}</div>
  <div class='col-sm-2'>{{ sensor.unit.name }}</div>

  <div *ngIf="currentAnalogData">
    <div class='col-sm-2' style='background-color:LightGreen;color:Black;' align="center" *ngIf="currentAnalogData.samples > 0; else elseBlock">OPERATIVO</div>
    <ng-template #elseBlock>
      <div class='col-sm-2' style='background-color:FireBrick;color:White;' align="center">FUERA DE SERVIVIO</div>
    </ng-template>
  </div>
</div>